*.pyc
pycache/
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.sqlite3
*.sqlite3-journal

venv/
env/
.venv/
ENV/

*.log
local_settings.py
*.pot
*.mo
media/
staticfiles/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

